<div class="message <%= user_is_messages_author ? "right" : "" %>">
  <div class="user-name"><%= message.user.username %> - <%= message.created_at.strftime("%H:%M") %></div>
  <div class="message-content"><%= message.content %></div>
</div>
