  <div class="form-dropdown">
    <div>
      <%= simple_form_for(@favoriteleague, :html => {:class => 'form-inline' }) do |f| %>
    </div>
    <div>
      <%= f.association :league, input_html: {class: '  js-example-basic-single'} %>
    </div>
    <div>
      <%= button_tag :submit, class: "btn-plus" do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
    <% end %>
      <script>
        $(document).ready(function() {
          $('.js-example-basic-single').select2();
        });
      </script>
  </div>
