// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Arvo:400,700|PT+Sans+Narrow");

// Define fonts for body and headers
$body-font: "PT Sans Narrow", "Helvetica", "sans-serif";
$headers-font: "Arvo", "Helvetica", "sans-serif";

h2 {
  font-size: 20px !important;
}

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
