.wrapper-about {
  background-size: cover;
  height: 88vh;
}

.text-container {
  height: 88vh;
  h2 {
    margin-top: 0;
  }
  overflow: scroll;
}

.text {
  width: 75vw;
  padding: 20px 0;
  margin: auto;
}
