.today-list {
  height: 5vh;
  background-color: $lighter-grey;
  box-shadow: 0px 2px 9px #cac9c9;
  h2 {
  color: $green;
}
}

.combo {
  height: 6vh;
}



.leagues-choice {
  background-color: $green;
  border: none;
  color: white;
  font-size: 21px;
  display: flex;
  justify-content: space-around;
  height: 7vh;
  align-items: center;
  a {
    color: white;
    opacity: 0.5;
  }
}

.match-list {
  margin-bottom: 10px;
}

.underline {
  text-decoration: underline;
  a {
  opacity: 1;
  }
}

#font-narrow {
  p {
    font-family: "PT Sans Narrow";
  }
}

#no-live-games {
    font-size: 17px;
    color: #5f5f5f;
    margin-top: 20px;
    margin-bottom: 20px;
}


