.today-list {
  height: 5vh;
  background-color: $lighter-grey;
  h2 {
  color: $green;
}
}

.combo {
  height: 6vh;
}

.match-list {
  border-bottom: 20px;
}

.leagues-select {
  background-color: $green;
  border: none;
  color: white;
  font-size: 21px;
}

