.today-list {
  height: 5vh;
  background-color: $lighter-grey;
  h2 {
  color: $green;
}
}

.combo {
  height: 6vh;
}

.match-list {
  border-bottom: 20px;
}

.leagues-choice {
  background-color: $green;
  border: none;
  color: white;
  font-size: 21px;
  display: flex;
  justify-content: space-around;
  height: 7vh;
  align-items: center;
  a {
    color: white;
    opacity: 0.5;
  }
}

.match-list {
  margin-bottom: 10px;
}

.underline {
  text-decoration: underline;
  a {
  opacity: 1;
  }
}

