.banner {
  height: 34vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  h1 {
    color: white;
    margin-top: 0;
  }
  p {
    color: white;
    opacity: 0.8;
    font-size: 21px;
  }
}

.title {
  background-color: $green;
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    color: white;
    margin: 0;
  }
}

.welcome-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}

.icon-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin-bottom: 0;
  }
}

.arrow-right {
  font-size: 28px;
  color: $green;
}

.welcome-text {
  margin: 20px 0;
  text-align: center;
  a {
    color: black;
  }
}

.game-list, .league-list {
  min-height: 8vh;
  margin-top: 10px;
}

.league-item {
  height: 14vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  a {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
  }
}

.game-item {
  height: 8vh;
  p {
    font-size: 10px;
    margin: 0;
  }
  .logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 5vh;
  }
  .team-name {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      font-size: 14px;
    }
  }
  .datetime {
    height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  a {
    color: black;
  }
}
