.banner {
  height: 20vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  h1 {
    color: white;
    margin: 0;
  }
}

.welcome-banner {
  height: 30vh;
  p {
    margin-top: 10px;
    color: white;
    opacity: 0.8;
    font-size: 21px;
  }
}

.title {
  background-color: $green;
  height: 8vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 9px #7d7d7d;
  h2 {
    color: white;
    margin: 0;
    letter-spacing: 1px;
    font-size: 17px;
  }
}

.icon-group {
  margin: 0;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  h6 {
    margin: 0;
  }
  p {
    margin-bottom: 0;
  }
}

.arrow-down {
  font-size: 28px;
  color: $green;
}

.btn-welcome {
  background-color: white;
}

.welcome-text {
  margin: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  a {
    color: black;
  }
}

.welcome {
  width: 100vw;
}

.game-list, .league-list {
  min-height: 8vh;
  margin-top: 10px;
  a {
    color: black;
  }
}

.league-item {
  height: 14vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  a {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
  }
}


.game-item {
  height: 10vh;
  margin: 10px 0;
  p {
    margin: 0;
  }
  .logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 6vh;
    width: 10vw;
  }
  .team-name {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    p {
      font-size: 17px;
      margin-top: 5px;
    }
  }
  .datetime {
    height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2.5vh 0;
    padding: 0;
    p {
      font-size: 17px;
      font-family: "PT Sans";
    }
  }
}

.text-red {
  color: $red;
}
.no-click-game {
  p {
    color: rgb(150,150,150);
  }
  .logo {
    opacity: 0.5;
  }
}
