.banner {
  height: 20vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  h1 {
    color: white;
    margin: 0;
  }
}

.welcome {
  height: 30vh;
  p {
    margin-top: 10px;
    color: white;
    opacity: 0.8;
    font-size: 21px;
  }
}

.title {
  background-color: $green;
  height: 8vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    color: white;
    margin: 0;
  }
}

.icon-group {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  p {
    margin-bottom: 0;
  }
}

.arrow-down {
  font-size: 28px;
  color: $green;
}

.btn-welcome {
  background-color: white;
}

.welcome-text {
  margin: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  a {
    color: black;
  }
}

.game-list, .league-list {
  min-height: 8vh;
  margin-top: 10px;
  a {
    color: black;
  }
}

.league-item {
  height: 14vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  a {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
  }
}

.game-item {
  height: 10vh;
  margin: 10px 0;
  // display: flex;
  // justify-content: space-around;
  // align-items: center;
  p {
    margin: 0;
  }
  .logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 6vh;
    width: 10vw;
  }
  .team-name {
    height: 10vh;
    // flex-grow: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      font-size: 16px;
      margin-top: 5px;
    }
  }
  .datetime {
    height: 5vh;
    display: flex;
    // flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2.5vh 0;
    p {
      font-size: 15px;
    }
  }
}
