.logo-small {
  vertical-align: middle;
  height: 5vh;
  margin-right: 5px;
}

ul {
  list-style: none;
  margin-top: 5px;
  padding-left: 0;
}

.form-dropdown {
  display: flex;
  align-items: center;
}

.form-group {
  margin: 0px;
}

.fav-teams {
  margin-top: 25px;
}

.fav-leagues_result {
  margin: 20px 0;
}

  .favorite_league_league {
    width: 240px !important;
    padding: 0 5px 0 15px;
  }

  .favorite_team_team {
    width: 240px !important;
    padding: 0 5px 0 15px;
  }

.pref-heading {
  margin: 10px
}


.form-preferences {
  background: white;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
  }
  .btn {
    width: 100%;
  }
  .btn-plus{
    font-size: 17px;
    color: green;
    font-weight: bolder;
    padding: 2px 7px;
    // margin: 0;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
    border-radius: 4px;
    background-color: white;
  }
  a {
    color: $light-green;
    font-size: 12px;
  }

}
