.rank-container {
  display: flex;
  flex-direction: column;
}

.margin-bottom {
  margin-top: 18px;
  margin-bottom: 8px;
  text-decoration: bold;
}

.midle {
  text-align: center;
}

.rank-body {
  font-size: 20px;

}

.border {
  border-bottom: 1.5px solid white;
  padding-top: 1vh;

}

.rank-margin {
  margin-right: 3vh;
  margin-left: 3vh;
}

