.background-pub {
  background-size: cover;
  height: 88vh;
}

.title-tables {
  background-color: $light-green;
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    color: white;
    margin: 0;
  }
}

.card-tables {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  border-radius: 4px;
  background-color: white;
  opacity: 0.7;
  margin: 5vh 20px;
  display: flex;
  align-items: center;
}

#first-card-table {
  margin-top: 24px;
}

.card-item {
  background-size: cover;
  position: relative;
  height: 15vh;
  margin: 5px 5px 5px 0;
  min-width: 120px;
}

.card-tables-logo {
  height: 8vh;
  top: 3.5vh;
  position:absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

.card-tables-beer {
  position: absolute;
  height: 8vh;
  top: 3.5vh;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}


.card-tables-table {
  position: absolute;
  height: 15vh;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

.card-team p {
  font-size: 20px;
  margin: 0 15px;
  color: black;
}

a:hover {
  opacity: 0.6;
  text-decoration: none;
}

.btn-modal-green {
  margin: 10px 18vw;
}

.prognosis-container {
  background-color: $light-gray;
  margin: 10px 20px;
  border-radius: 4px;
  padding: 3px;
  opacity: 0.7;
  h5 {
    margin: 0;
  }
}

.prognosis-boxes .form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px 0;
  & input {
    width: 100px;
    & [type='number']::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
#prognosisInput input[type=number] {
  -moz-appearance:textfield;
}

.prognosis-footer {
  display: flex;
  justify-content: center;
}

.prognosis-dialog {
  width: 80vw;
  margin: auto;
  margin-top: 5vh;
}
