.background-pub {
  background-size: cover;
  height: 88vh;
}

.title-tables {
  box-shadow: 0px 2px 9px #7d7d7d;
  background-color: $light-green;
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    color: white;
    margin: 0;
    font-size: 18px;
    letter-spacing: 1px;
  }
}

.card-tables {
  box-shadow: 0px 2px 9px #7d7d7d;
  border-radius: 4px;
  background-color: white;
  opacity: 0.7;
  margin: 3vh 20px;
  display: flex;
  align-items: center;
  // justify-content: space-around;
}

.card-item {
  background-size: cover;
  position: relative;
  height: 15vh;
  margin: 5px 5px 5px 15px;
  min-width: 70px;
}

.card-tables-logo {
  height: 9vh;
  top: 3.5vh;
  position:absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

.card-tables-beer {
  position: absolute;
  height: 9vh;
  top: 3.5vh;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}


.card-tables-table {
  position: absolute;
  height: 15vh;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

.card-team p {
  font-size: 24px;
  font-weight: bolder;
  margin: 0 15px;
  color: black;
}

a:hover {
  opacity: 0.6;
  text-decoration: none;
}

.btn-modal-green {
  margin: 3vh 20%;
  margin-bottom: 0;
  box-shadow: 0px 0px 5px rgb(200,200,200);
}

.prog-btn-container form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prognosis-container {
  background-color: $light-gray;
  margin: 3vh 0px;
  border-radius: 4px;
  padding: 3px;
  opacity: 0.7;
  h5 {
    font-weight: bolder;
    margin: 5px 0 15px 0;
  }
}

.prognosis-score {
  height: 6vh;
  padding: 5px 0;
  .no-padding {
    padding: 0;
    p {
      margin: 0;
    }
  }
}

.score {
  font-weight: bolder;
  font-size: 22px;
  display: inline;
  box-shadow: 0px 2px 9px #7d7d7d;
  border-radius: 4px;
  background-color: white;
  // margin: 1vh 10px;
  padding: 5px;
  align-items: center;

}

.prognosis-boxes .form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px 0;
  & input {
    text-align: center;
    border: 1px solid rgb(190,190,190);
    width: 50px;
    & [type='number']::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
#prognosisInput input[type=number] {
  -moz-appearance:textfield;
}

.prognosis-footer {
  display: flex;
  justify-content: center;
}

.prognosis-dialog {
  width: 80vw;
  margin: auto;
  margin-top: 5vh;
}
