<div class="wrapper-about">
  <div class="text-container">

    <div class="text-content">
      <h4>What is the Digital Pub?</h4>

      <div class="text-justify">

        <p>Imagine you want to watch a game tonight, but you don't have anybody to watch it with. And what is the fun in watching a game when you can't discuss the coach's decision about bringing their best player only in the last minutes or if you can't bitch about the referee and how obvious it is that he was paid off by the other team?</p>

        <p>Fear no more! The <strong>Digital Pub</strong> has found the solution: an online chat where you can talk about your favorite games with other fans. Enter the Digital Pub and decide at which table you want to sit: at one of the 2 fan tables or at the 'Stammtisch', if your heart swings both ways.</p>

        <p>Register now and set your favorite teams and leagues in your settings, and make sure you don't miss any games! Enjoy :)</p>

        <p><em>Lucca, Daniel, Mario & Amélie @Le Wagon! </em></p>

      </div>
    </div>

  </div>
</div>

