<% i = 1 %>

<div class="container">
  <div class="rank-container rank-margin">

  <div class="row margin-bottom">

    <div class="col-xs-3">
      <h5><strong>Rank</strong></h5>
    </div>
    <div class="col-xs-6">
      <h5><strong>Nickname</strong></h5>
    </div>
    <div class="col-xs-3 midle">
      <h5><strong>Points</strong></h5>
    </div>
  </div>


  <div class="rank-body">

  <% @rank.each do |u| %>

  <div class="row border">


      <div class="col-xs-3 text-center">

        <%= i %>
      </div>

      <div class="col-xs-6">
        <%= u.username %>
      </div>

      <div class="col-xs-3 text-right">
        <%= u.score %>
      </div>

  </div>
    <% i += 1 %>
  <% end %>

  </div>
  </div>
</div>
