<%= simple_form_for [@game, @prognosis] do |f| %>
  <button type="button" class="btn btn-digital-pub-green btn-modal-green" data-toggle="modal" data-target="#prognosisInput">
    Your prediction?
  </button>

  <div class="modal" id="prognosisInput" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog prognosis-dialog" role="document">
      <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        <div class="modal-content">
          <div class="modal-body prognosis-boxes">
            <%= f.input :team_a_score, label: @game.team_a.name, html: { class:'form-inline' } %>
            <%= f.input :team_b_score, label: @game.team_b.name, html: { class:'form-inline' } %>
          </div>

          <div class="modal-footer prognosis-footer">
            <%= f.submit 'Enter prediction', class:'btn btn-digital-pub-green' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
