  <div class="title">
    <h2>Edit your preferences</h2>
  </div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <!-- Insert form here -->
      <div class="form-preferences">

<!--           <div class="fav-leagues">
            <h2 class="pref-heading">Favorite leagues:</h2>
            <%#= render "favorite_leagues/new" %>
            <div class="fav-leagues_result">
              <%# if current_user.favorite_leagues.empty? %>
                <p>Currently you don't have any favorite leagues. Add them here</p>
              <%# else %>
                <%# @favoriteleagues.each do |f_league| %>
                  <ul>
                    <li><%#= image_tag f_league.league.logo, class: "logo-small" %> <%#= f_league.league.name %> | <%#= link_to "Remove", favorite_league_path(f_league.id), method: :delete %>
                    </li>
                  </ul>
                <%# end %>
              <%# end %>
            </div>
          </div> -->

          <!-- <hr> -->

          <div class="fav-teams">
            <h2 class="pref-heading">Favorite teams:</h2>

            <%= render "favorite_teams/new" %>
            <div class="fav-leagues_result">
              <% if current_user.favorite_teams.empty? %>
                <p>Currently you don't have any favorite teams. Add them here</p>
              <% else %>
                <% @favoriteteams.each do |f_team| %>
                  <ul>
                    <li><%= image_tag f_team.team.logo, class: "logo-small" %> <%= f_team.team.name %> |
                      <%= link_to "Remove", favorite_team_path(f_team.id), method: :delete %></li>
                  </ul>
                <% end %>
              <% end %>
            </div>
          </div>

    </div>
  </div>
</div>
</div>

