<div class="form-dropdown">
    <div style="display: none">
      <%= simple_form_for(@favoriteteam, :html => {:class => 'form-inline' }) do |f| %>
    </div>
    <div class="form-dropdown-list">
      <%= f.association :team, input_html: {class: 'js-example-basic-single'}, label: false %>
    </div>
    <div>
      <%= button_tag :submit, class: "btn btn-plus" do %>
          <i class="fas fa-plus"></i>
      <% end %>
    </div>
    <% end %>
      <script>
        $(document).ready(function() {
            $('.js-example-basic-single').select2();
        });
      </script>
  </div>
