.chat-name {
  box-shadow: 0px 2px 9px #7d7d7d;
  background-color: $light-green;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    color: white;
    margin: 0;
    text-align: center;
    font-size: 20px;
  }
  img {
    background-size: contain;
    height: 7vh;
    margin-right: 10px;
    margin-left: 10px;
  }
}
.messages {
  height: 65vh;
  font-size: 14px;
  color: white;
  background-size: cover;
  padding: 20px;
  border: 1px solid #ececec;
  border-top: none;
  border-bottom-width: 0;
  max-height: calc(100vh - 70px - 45px - 61px - 30px);
  overflow: scroll;
}

.message {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom:0;
  &.right {
    flex-direction: column;
    align-items: flex-end;
    .message-content {
      background-color: rgb(150,150,150);
    }
  }
  &:last-child {
    margin-bottom: 5px;
  }
}
.message-content {
  background-color: $green;
  border-radius: 15px;
  margin: 0 10px;
  padding: 11px 10px 8px 10px;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  font-size: 18px;
  word-wrap: break-word;
  max-width: 80vw;
}

#create-message {
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ececec;
}
.message_content {
  margin-bottom: 0;
}

#message_content {
  width: 77vw;
  border-radius: 5px;
  &:focus {
    outline: none;
    border: 1px solid $green;
    box-shadow: none;
  }
}
input.form-control {
  border: 1px solid #ECECEC;
  box-shadow: none;
  font-size: 14px;
  color: #868686;
  &:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: none;
  }
}

.user-name {
  font-size: 15px;
  color: black;
  margin: 7px 10px 4px 10px;
}
