
.card-liveticker {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  border-radius: 4px;
  background-color: white;
  opacity: 0.7;
  margin: 0vh 2vh 2vh;
  display: flex;
  align-items: center;
}

.card-liveticker-text {
  font-size: 20px;
  margin: 10px auto;
  color: black;
  text-align: center;
  left:0;
  right:0;
  p {
   margin: 0;
  }
}

